@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: "Mulish", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background-color: #f1f5f9;
}

#root {
  min-height: 100vh;
}
.anim:hover  {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); 
  border:4px solid orange;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.border-orange{border:6px solid orange;}
.shadow-lumeo\/30 {
  --tw-shadow-color: rgb(22 22 22 / 0.3);
  --tw-shadow: var(--tw-shadow-colored);
  border: 3px solid orange;}